/*GLobal*/


/*Home*/

h1 {
    color: black;
    font-family: 'futura', sans-serif;
    font-size: 4em;
    line-height: 2.5;
    font-weight: 100;
    margin: -25px 24px;
}

body {
    background: white;
    
}

.homePic {
    display:block;
    height: 385px;
    width: auto;
    margin: 0 100px;
    position: 200px;
    
}



/*Nav*/

.navigation {
    background: black;
    width: 200px;
    height: 385px;
    
    color: white;
    text-align: left;
    font-family: 'futura', sans-serif;
    font-size: 2em;
    position: fixed;
    line-height: 2.5;   
}


ul li {
    list-style: none;
    margin-left: -18px;
}

ul li a {
    text-decoration: none;  
    color: white;
}

ul li a:hover {
    text-decoration: none;
    font-style: italic;
}

ul li a:active {
    text-decoration: none;
    font-style: italic;
    color: cyan;
}


.nav {
    text-align: center; 
}



/*Work*/

.bio {
    color: black;
    font-family: 'futura', sans-serif;
    font-size: small;
    font-weight: 100;
    margin: -41px 305px;
}




/*Contact*/

.social {
    color: black;
    font-family: 'futura', sans-serif;
    font-size: small;
    font-weight: 100;
    margin: -41px 305px;
}

div p a {
    text-decoration: none;
    color: black;
}

div p a:hover {
    text-decoration: none;
    color: magenta;
}