/*GLobal*/


/*Home*/


body {
    background: pink;
}

.homePic {
    display:block;
    height: 500px;
    width: auto;
    margin: 0 auto;
   
    
}


/*Nav*/

.navigation {
    background: red;
    width: 200px;
    height: 500px;
    
    color: black;
    text-align: left;
    font-family: 'futura', sans-serif;
    font-size: 2em;
    position: fixed;
    
    
}

.nav {
    text-align: center;
   
}



/*Bio*/

