/*GLobal*/


/*Nav*/

nav a:link,
a:visited {
  
  color: #7D7E91;
  text-decoration: none;
  
}

a:focus {
  background: #purple;
}

a:hover {
  background: #6F791A;
  color: #blue;
}

a:active {
  background: #red;
}


/*Bio*/

